body{
  display: flex;
  justify-content: center;
}

.flex-container{
  display: flex;
  border: 2px solid red;
  background-color: peachpuff;
  padding: 2rem;
  height: 40rem;
  width: 40rem;
  justify-content: center;
  flex-wrap: wrap;
  align-content:start ;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  background-color:skyblue;
  height: 100px;
  width: 100px;
  margin: 0.2em;
}